#logo,
#menu,
#menu ul {
    line-height: 80px;
}
/* :root {
    --tawk-header-background-color: #0e5077 !important;
} */
#menu ul li,
.order-b {
    display: inline-block;
}
#slider ul,
p {
    line-height: 25px;
}
#comments .form-submit,
#conbox .ft_heading_con,
#footer .ft_heading,
#footertop,
#menu,
#plansblock thead td,
.amount,
.dinput,
.order-b,
.order-btn,
.pricehead {
    font-weight: 700;
}
#comments li,
#menu ul,
#notification ul li,
.post-categories li,
.pricebox ul li,
.product_box ul li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
h1,
h2,
h3 {
    font-family: Lato, sans-serif;
}
h2 {
    font-size: 22px;
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
}
p {
    font-family: Lato, sans-serif;
}
#domain-checker p,
.dinput {
    font-family: Lato, sans-serif;
}
.clear {
    clear: both;
}
.left {
    float: left;
}
#top-area,
.right {
    float: right;
}
#details,
#faq,
#logo,
#menu ul,
#table,
.buttonset-a,
.pricebox,
.product_box {
    float: left;
}
#tag-words {
    padding: 15px;
    color: #333;
    font-size: 14px;
}
#update {
    background-color: #0e5077;
    color: #fff;
    width: 100%;
    padding-bottom: 3px;
}
.line,
.red {
    color: red;
}
.line {
    text-decoration: line-through;
}
#footer,
#footer .ft_rep a,
#menu ul li a,
.buttonset-a,
.order-b,
.orderbtn a {
    text-decoration: none;
}
.content-adj {
    padding: 20px;
}
#mob-tiles,
#mobile_des {
    display: none;
    visibility: none;
}
body {
    background: #0e5077;
}
@media only screen and (max-width: 767px) {
    .tab-in li a {
        padding: 16px 13px !important;
        }
    #notification {
        margin-top: 40px;
    }
    #mobile_des {
        display: block;
        margin-top: -10px;
    }
    #mobile_des h1 {
        font-size: 25px;
    }
    #mobile_des p {
        font-size: 12px;
    }
    body {
        background-color: #0e5077;
    }
}
.container {
    width: 1200px;
    margin: 0 auto;
}
@media only screen and (max-width: 767px) {
    .container {
        width: auto;
        background: 0 0;
    }
}
#headline {
    background-color: rgb(21 74 105);
    padding: 0 20px;
    margin-top: 3px;
    color: #fff;
    height: 90px;
    line-height: 90px;
}
@media only screen and (max-width: 767px) {
    #headline {
        clear: both;
        /* line-height: 50px; */
        /* font-size: 12px; */
        /* height: 50px; */
        background-color: rgb(21 74 105);
        padding-bottom: 21px;
        height: auto;
        line-height: 40px;
        padding-top: 15px;
    }
}
#header {
    background: #fff;
}
#logo {
    height: 80px;
    margin-left: 20px;
}
#logo img {
    vertical-align: middle;
}
#top-area {
    margin-right: 30px;
}
#head-info {
    font-size: 13px;
    text-align: right;
}
#menu-icon {
    display: none;
}
@media only screen and (max-width: 767px) {
    .tab button{
        font-size: 12px !important;
    }
    #header {
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #000;
        z-index: 1;
    }
    #logo {
        float: left;
        padding-top: 7px;
        padding-bottom: 4px;
        line-height: 40px;
        height: auto;
    }
    #logo img {
        width: 180px;
    }
    #top-area {
        margin-right: 0;
        float: none;
    }
    #head-info {
        font-size: 10px;
        float: left;
        margin-top: 15px;
        margin-left: 10px;
        width: 40%;
        display: none;
    }
    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 27px;
        font-weight: 700;
        float: right;
        color: #fff;
        margin-right: 40px;
        background: #0e5077;
        margin-top: 28px;
        /* padding-bottom: 4px; */
        border-radius: 3px;
    }
}
.order-b {
    margin-top: 5px;
    color: #fff;
    font-size: 10pt;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #154a69;
}
#menu ul li a {
    padding: 10px;
    line-height: 44px;
    color: #000;
}
#menu ul li a:hover {
    line-height: 44px;
    background-color: #f3f3f3;
}
.sidenav {
    display: none;
}
@media only screen and (max-width: 767px) {
    #menu {
        display: none;
    }
    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align: center;
    }
    .sidenav a {
        padding: 8px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .offcanvas a:focus,
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 25px;
        margin-left: 50px;
    }
}
#domain-checker {
    background: #0e5077;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff33;
}
.dinput {
    padding: 5px;
}
@media only screen and (max-width: 767px) {
    #domain-checker p,
    .dinput {
        font-family: "Roboto Slab", serif;
    }
    #domain-checker {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;
        visibility: hidden;
    }
    .dinput {
        font-weight: 700;
        padding: 2px;
    }
}
#packages,
.orderbtn,
.orderbtn a {
    font-family: "Open Sans", sans-serif;
}
#slider p,
#slideside {
    color: #fff;
}
#slideside p {
    line-height: 30px;
    margin-left: 10px;
}
#slider {
    background: #0e5077;
}
#slider ul {
    color: #fff;
}
#slider h1 {
    margin-top: 10px;
    color: #fff;
}
.slide-container {
    background: url(../images/banner.jpg);
    height: 300px;
    width: 1200px;
    margin: 0 auto;
}
@media only screen and (max-width: 767px) {
    .slide-container {
        background: url(none);
        background-color: rgba(52, 52, 52, 0.2);
        width: 100%;
        height: auto;
    }
    #slider h1 {
        font-size: 20px;
    }
}
.orderbtn,
.pricebox ul li {
    font-size: 14px;
    text-align: center;
}
.buttonset {
    width: 90%;
    margin: 20px auto;
}
.buttonset-a {
    width: 33%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .buttonset-a {
        width: 100%;
    }
}
#packages {
    margin-top: 10px;
    margin-bottom: 20px;
}
.pricebox {
    width: 220px;
    border: 1px solid #0e5077;
    margin-left: 10px;
    background: white;
}
@media only screen and (max-width: 767px) {
    .pricebox {
        float: left;
        width: 100%;
        border: 1px solid #b9b9b9;
        margin-left: 0;
        margin-bottom: 11px;
    }
}
.pricebox-a {
    margin-left: 0 !important;
}
.pricehead {
    color: #fff;
    text-align: center;
    padding: 8px;
    background: #0e5077;
}
.amount {
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    padding: 5px;
}
.pricebox ul li {
    padding: 5px 0;
}
.orderbtn {
    padding: 5px;
    font-weight: 700;
    color: #00f;
    line-height: 30px;
}
.orderbtn a {
    color: #000;
    padding: 5px 10px;
    background-color: #b4b4b4;
}
#comments #comments-list,
.block {
    background-color: #f9f9f9;
}
#features {
    background: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
    float: right;
}
#features h3 {
    margin-bottom: 10px;
}
#features ul {
    margin-left: 20px;
    list-style-image: url(https://www.easyhost.pk/images/ricon.png);
}
#features ul li {
    font-size: 16px;
    line-height: 25px;
    margin: 6px 20px;
}
@media only screen and (max-width: 767px) {
    #features {
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    #features h3 {
        margin-bottom: 10px;
        padding: 10px;
    }
    #features ul {
        margin-left: 20px;
        list-style-image: url(https://www.easyhost.pk/images/ricon.png);
    }
    #features ul li {
        font-size: 16px;
        line-height: 20px;
        margin: 6px 20px;
    }
}
#footer {
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 25px;
}
#footer .ft_rep {
    width: 18%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    color: #000;
    margin-left: 2%;
}
#footer .ft_heading {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}
#footer .ft_rep ul li {
    list-style: none;
    font-size: 15px;
    line-height: 25px;
}
#footer .ft_rep a {
    color: #000;
    line-height: 22px;
}
#footer .ft_rep a:hover {
    color: #000;
    text-decoration: underline;
}
#notification a,
.entry-title,
.entry-title a,
.order-btn,
.post-categories a {
    text-decoration: none;
}
@media only screen and (max-width: 767px) {
    #footer .ft_rep {
        width: 100% !important;
    }
}
#conbox {
    height: auto;
    margin-top: 0;
    background-color: #f3f3f3;
    padding: 20px;
    float: right;
    width: 300px;
}
#conbox p {
    font-size: 14px;
    color: #000;
    margin: 2px 0;
}
#conbox .ft_heading_con {
    display: block;
    color: #000;
    font-size: 16px;
    margin-bottom: 5px;
}
#conbox .contype {
    padding: 5px;
    width: 230px;
    margin: 3px 0;
}
#conbox .contypetext {
    padding: 5px;
    width: 300px;
    margin: 3px 0;
}
#details {
    padding: 10px;
    font-size: 14px;
    width: 730px;
}
#details p {
    margin: 5px 0;
}
.block {
    border: 1px solid #000;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#respond {
    background-color: #f3f3f3;
    padding: 10px;
}
#comments .comment-notes {
    font-size: 16px;
}
#comments .comments-title,
#comments input,
#comments textarea {
    padding: 5px;
}
#comments .form-submit {
    margin-top: 5px;
}
#comments label {
    width: 100px;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
}
#comments .thread-even,
#comments .thread-odd {
    padding: 10px;
}
#comments .comment-author {
    font-size: 20px;
    padding: 3px;
}
#comments .comment-meta {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 0;
}
#comments p,
.entry-title {
    margin-bottom: 5px;
    margin-top: 5px;
}
#comments p {
    font-size: 20px;
}
.entry-title {
    font-size: 22px;
}
.entry-title a {
    color: #0e5077;
}
.entry-meta {
    font-size: 13px;
    margin-bottom: 10px;
}
.entry-footer {
    margin-bottom: 20px;
}
.entry-content,
.entry-summary {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px #b9b9b9 solid;
    margin-bottom: 10px;
}
.nav-next,
.nav-previous,
.post-categories a {
    margin-bottom: 5px;
    margin-top: 5px;
}
.entry-content ul,
.entry-summary ul {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-categories a {
    color: #fff;
}
#searchform {
    margin-top: 10px;
}
#table {
    width: 65%;
}
#plansblock {
    text-align: center;
    font-size: 15px;
}
#plansblock tr td {
    border-bottom: 1px solid #e4e4e4;
    background: #f9f9f9;
    padding: 10px;
}
#plansblock thead td {
    background-color: #0e5077;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}
.lalign {
    text-align: left;
}
.steps li {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
}
.order-btn {
    background: #e4e4e4;
    padding: 5px 6px;
    border: 1px solid #999;
    color: #000;
    font-size: 13px;
}
@media only screen and (max-width: 767px) {
    #details {
        width: 100%;
        clear: both;
    }
    #table {
        overflow-x: auto;
        width: 100%;
        display: block;
    }
    #plansblock {
        text-align: center;
        font-size: 12px;
    }
    #plansblock tr td {
        border-bottom: 1px solid #e4e4e4;
        background: #f9f9f9;
        padding: 5px;
    }
    #plansblock thead td {
        background-color: #0e5077;
        color: #fff;
        padding: 5px;
        font-weight: 700;
        font-size: 9px;
    }
    .lalign {
        text-align: left;
    }
    .steps li {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .order-btn {
        background: #e4e4e4;
        padding: 2px 4px;
        border: 1px solid #999;
        color: #000;
        text-decoration: none;
        font-weight: 700;
        font-size: 10px;
    }
}
#aboutus,
#products h2,
#products p {
    text-align: center;
}
#footertop {
    color: #fff;
    background: #0e5077;
}
#footertop p {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}
#aboutus p,
#aboutus td,
.product_box ul li {
    font-family: "Open Sans", sans-serif;
}
@media only screen and (max-width: 767px) {
    #footertop p {
        font-size: 14px;
        line-height: 40px;
    }
}
#aboutus {
    margin: 10px 60px;
}
#aboutus h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
#aboutus p {
    line-height: 30px;
    font-size: 16px;
}
#aboutus td {
    line-height: 20px;
    font-size: 15px;
}
@media only screen and (max-width: 767px) {
    #aboutus p,
    #aboutus td {
        font-family: "Open Sans", sans-serif;
    }
    #aboutus {
        margin: 10px;
    }
    #aboutus h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    #aboutus p {
        line-height: 27px;
        font-size: 13px;
    }
    #aboutus td {
        line-height: 20px;
        font-size: 10px;
    }
    #aboutus img {
        height: 70px;
    }
}
#products {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f3f3f3;
}
#products h2 {
    padding: 20px 20px 10px 10px;
    color: #0e5077;
    font-size: 20px;
}
#products p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.padding20 {
    padding: 0 20px 10px;
}
.padding10 {
    padding: 10px !important;
}
.paddingfix {
    padding: 10px 20px;
}
.product_box {
    width: 49.5%;
    display: block;
}
@media only screen and (max-width: 767px) {
    .product_box {
        float: left;
        width: 100%;
        border: 1px solid #b9b9b9;
        margin-left: 0;
        margin-bottom: 10px;
    }
}
.product_box ul li {
    padding: 3px 0;
    font-size: 14px;
    text-align: center;
}
#faq {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 25px;
}
@media only screen and (max-width: 767px) {
    #faq {
        width: 100%;
        float: none;
        font-size: 11px;
        line-height: 20px;
    }
}
p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 7px;
    width: auto;
    text-align: left;
    border: none;
    outline: 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
#guarantees,
.qtr-service {
    text-align: center;
}
p.accordion.active,
p.accordion:hover {
    background-color: black;
}
p.accordion:after {
    content: "\2795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
p.accordion.active:after {
    content: "\2796";
}
div.panel {
    padding: 0 10px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 10px;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;
}
#notification {
    background-color: #000;
}
#notification p {
    /* line-height: 30px; */
    font-size: 12px;
    color: #fff;
}
#notification a {
    color: #b9b9b9;
    font-size: 13px;
    line-height: 30px;
}
#notification ul li {
    float: left;
    line-height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.not-right {
    float: right;
    margin-right: 20px;
}
.not-left {
    float: left;
    margin-left: 20px;
}
@media only screen and (max-width: 767px) {
    #notification {
        background-color: #000;
        margin-top: 50px;
    }
    .not-left {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .not-right {
        display: none;
    }
}
.feature-block {
    margin-top: 30px;
}
.qtr-service {
    width: 23%;
    float: left;
    padding: 1%;
}
.qtr-service p {
    font-size: 14px;
}
@media only screen and (max-width: 767px) {
    .qtr-service {
        width: 49%;
        text-align: center;
        float: left;
        padding: 0;
    }
    .qtr-service p {
        font-size: 12px;
    }
}
.guarantee {
    width: 33.3%;
    float: left;
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.guarantee h3 {
    color: #e38d36;
    margin-bottom: 10px;
}

/* Style the tab */
.tab {
    background-color: #ffffff;
    width: auto;
    display: table;
    /* border: 1px solid #ccc; */
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px #0000000d;
    margin: auto;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 17px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: Lato, sans-serif;
    position: relative;
    font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #96989d29;
    color: #f4590b;
    font-weight: 500;
}
.tab button.active::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 40px;
    background: #f4590b;
    left: 0;
    right: 0;
    margin: auto;
    /* transform: rotateZ(
45deg
); */
    bottom: -21px;
    border-radius: 50%;
}

.tab button.active::after {
    /* content: ""; */
    position: absolute;
    height: 32px;
    width: 40px;
    background: #f4590b;
    left: 0;
    right: 0;
    margin: auto;
    /* transform: rotateZ(
45deg
); */
    top: -21px;
    border-radius: 50%;
}
/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px;
    border: 1px solid #ccc; */
    border-top: none;
    animation-duration: 2s;
    animation-name: slidein;
    background: white;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {
    color: red;
}
.align-ul{
    padding: 10px;
    text-align: center;
}


@keyframes slidein {
    0%    { opacity: 0; }

  }
  .tab-in{
    border-top: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
  }
  .tab-in .active{
      border-bottom: 3px solid #0e5077;
      transition: 0.5s;

  }
  .tab-in li a:hover{
      background: #0e5077;
      color: white;
      text-decoration: none;
      transition: 0.5s;
      cursor: pointer;
  }
  .tab-in li a {
    padding: 16px 25px !important;
    font-size: 14px !important;
}
.site-pad{
    padding: 40px 0;
}
.cus-row{
    width: 100%;
    display: table;
    color: white;
}
.left-col{
    width: 30%;
    float: left;
    text-align: center;
}
.left-col img{
    width: 340px;
}
.center-col{
    width: 47%;
    float: left;
}
.center-col i{
    font-size: 10px;
    margin-right: 8px;
    transform: rotate3d(1, 1, 1, 45deg);
}
.right-col{
    width: 22%;
    float: left;
    /* padding: 20px 4px; */
    text-align: center;
    padding-top: 0;
    border: 1px solid white;
    border-radius: 3px;
}
.right-col .header{
    background: white;
    color: #0e5077;
    padding: 13px 0px;
    font-size: 25px;
}
.right-col a{
    margin: 9px 0px;
    display: block;
    color: white;
    font-size: 13px;
    text-align: left;
    padding-left: 15px;
}


@media only screen and (max-width : 991px) {
    .left-col{
        width: 100%;
        float: left;
        margin-bottom: 24px;
    }
    .center-col{
        width: 100%;
        float: left;
        width: 90%;
        margin: auto;
        /* text-align: center; */
        padding-left: 20px;
    }
    .center-col{
        font-size: 12px;
    }
    .left-col img {
        width: 215px;
    }
    .right-col{
        width: 100%;
        width: 90%;
        margin: auto;
        /* display: none; */
        margin-left: 17px;
        margin-top: 14px;
    }
    .right-col a {
        margin: 9px 0px;
        display: block;
        color: white;
        font-size: 13px;
        text-align: left;
        padding-left: 15px;
        width: 36%;
        float: left;
    }
}

.font-bold{
    font-weight: bold;
}
