#header-a {background: white; padding:0px; margin:0px;}
#logo {height: 80px; float: left; margin-left: 20px; line-height: 80px; padding:0px;}
#logo img {vertical-align: middle}
#top-area {float:right; margin-right: 30px; padding:0px;}
#head-info {font-size:13px; text-align: right;}
#menu-icon {display: none;}

.clear {clear:both}
.container-a {width:1200px;  margin: 0 auto; padding:0px;}

@media only screen and (max-width: 767px) {
    .container-a {width: auto; background: none}
    #headline {clear: both; line-height: 50px; font-size: 12px; height: 50px; background-color:rgba(52,52,52,0.2);}
    #header-a {position: fixed; top: 0; width: 100%; border-bottom: 1px solid #000; z-index:1;}
    #logo {float: left; padding-top: 7px; padding-bottom: 4px; line-height: 40px; height:auto}
    #logo img {width: 180px}
    #top-area {margin-right: 0px; float: none}
    #head-info {font-size: 10px; float: left; margin-top: 15px; margin-left: 10px; width: 40%; display: none}
    #menu-icon {display: block; cursor:pointer; font-size: 27px; font-weight: bold; float: right; color: white; margin-right: 40px;background:#0e5077; margin-top:10px}
}


/* Menu */

#menu-a {line-height:80px; font-weight: bold; font-family: 'Segoe UI'; font-size:16px; padding:0px;}
#menu-a ul {list-style: none; line-height: 80px; float:left}
#menu-a ul li {display:inline-block;}
#menu-a ul li a {padding: 10px 10px; text-decoration: none; line-height: 44px; color: black;}
#menu-a ul li a:hover {line-height: 44px; background-color: #f3f3f3}
.sidenav {display: none}

@media only screen and (max-width : 767px) {
    #menu-a {display: none;}
    .sidenav {display: block;height: 100%;width: 0;position: fixed;z-index: 1 !important;top: 0;left: 0;background-color: #111;overflow-x: hidden;transition: 0.5s;padding-top: 60px;text-align: center;}
    .sidenav a {padding: 8px 8px 8px 8px;text-decoration: none;font-size: 15px;color: #818181;display: block;transition: 0.3s;}
    .sidenav a:hover, .offcanvas a:focus{color: #f1f1f1;}
    .sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 25px;margin-left: 50px;}
}

/* Menu */

.content-adj {padding: 20px;}
.flinks a {color:rgb(0, 0, 238); text-decoration:underline;}
#footer {width:100%; background:#0e5077; display:block; font-size:14px; text-decoration:none; line-height:25px;}
#footer .ft_rep {width:18%; height:auto; float:left; margin-bottom: 20px; color: black; margin-left: 2%}
#footer .ft_heading {display:block; font-weight:bold; font-size:17px; margin-bottom:10px;}
#footer .ft_rep ul {padding:0px}
#footer .ft_rep ul li {list-style:none; font-size:15px; line-height:25px;}
#footer .ft_rep a { color: black; text-decoration: none; line-height: 22px}
#footer .ft_rep a:hover { color: black; text-decoration: underline}
@media only screen and (max-width : 767px) {
    #footer .ft_rep {width:100% !important;}
}


/* Footer */

#footertop {width: 100%;float: left;padding-top: 20px;padding-bottom: 10px; color: white;font-weight: bold;background:#0e5077;}
#footertop p {font-family: 'Roboto Slab', serif; font-size: 20px; line-height: 50px; color: white;}
#footertop figure {float: left;margin-right: 20px;margin-top: 10px;margin-bottom: 20px;}
#footertop dl {display: block;}
#footertop dl dt {font-size: 18px;font-weight: 700;color: #fff;margin-bottom: 10px;}
#footertop dl dd {color: #fff;font-weight: 500;}
#footertop .col-md-3 {width: 22%;margin-left: 2.5%;float: left}

@media only screen and (max-width: 767px) {
    #footertop .col-md-3 {width: 100%;float: left;margin-top: 10px}
    #footertop p {font-size: 14px; line-height: 40px}
}



#headline {background-color:rgba(52,52,52,0.2); padding:0px 20px; margin-top: 3px; margin-bottom:0px; color: white; height: 90px; line-height: 90px;}
#headline p {margin:0px;}

#notification {background-color: #000;height:30px; padding:0px;}
#notification p {line-height: 30px;font-size: 12px;color: #fff}
#notification a {color: #b9b9b9;text-decoration: none;font-size: 13px;line-height: 30px}
#notification ul li {float: left;list-style: none;line-height: 30px;margin-right: 10px;margin-left: 10px;}
.not-right {float: right;margin-right: 20px; padding:0px; height:30px;}
.not-left {float: left;margin-left: 20px; padding:0px; height:30px;}

@media only screen and (max-width: 767px) {
    #notification {margin-top: 40px}
    #notification {background-color: #000;margin-top: 50px}
    .not-left {width: 100%;text-align: center;margin-left: 0px}
    .not-right {display: none}
}